.welcome {
    color:aquamarine
} 

body{
    background-color: #50c7c7; 
}
    
#navigation{

}

.topnav{
    overflow: hidden; 
    background-color:aliceblue;
}

.topnav a{
    float: left;
    display: block;
    color:darkolivegreen;
    padding: 14px 16px; 
    text-decoration: none; 
}

.topnav a:hover {
    background-color:aquamarine;
    color: #ddd;
    color: black; 
}

.login {
    float: right; 


    
}
head {
    padding-bottom: 15px; 
}


