.welcome {
    color: black;
    display:block; 
    background-color: whitesmoke;
    margin-top: 10px; 
    padding: 10px; 
} 

body{
    background-color: #50c7c7; 
}

.topnav{
    overflow: hidden; 
    background-color:aliceblue;
} /*the menu bar content*/

.topnav a{
    float: left;
    display: block;
    color:darkolivegreen;
    padding: 14px 16px; 
    text-decoration: none; 
}/* the menu box */

.topnav a:hover {
    background-color:aquamarine;
    color: #ddd;
    color: black; 
}/* menu hover effect*/

.login {
    float: right; 
} /*login on menu bar */

.flexcontainer{
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
} /* for home page content*/

.flexitem {
    flex: 1 1 200px; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    padding: 20px;
    background-color: antiquewhite;  
    text-align: center; 
}
h4 {
    
}
.header {
    padding: 5px 5px; 
    overflow: hidden; 
    display: block;
    text-align: center;
}

footer{
    
}


form 
{
    border: 1px solid black; 
	float: middle;
}

input[ type=text], input [type=password] 
{
 width: 100%;
 padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px white;
box-sizing:border-box;

}

button
{
background-color: #04aa6d;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button:hover
{
    opacity: 0.8;
}

.container
{
    padding: 16px;
}

/* login page */

form 
{
    border: 1px solid black; 
	width: 50%;
	margin:auto;
	vertical-align: middle;
	padding: 10px;
	
}

input[ type=text], input [type=password] 
{
 width: 100%;
 padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px white;
box-sizing:border-box;

}

button
{
background-color: #04aa6d;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button:hover
{
    opacity: .7;
}

#form_login
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.containerlogin
{
	display: flex;
	justify-content :center;
	align-items: center;
	min-height: 100vh;
	
	
}

/* AboutUs page */
.box  
{
    border: 2px solid #4CAF50; 
    border-radius: 10px; 
    padding: 30px; 
    background-color: #f9f9f9; 
    margin-bottom: 20px

}


.person_list 
{
    display: flex;
    gap: 40px;                          /* format of the staff and doctors sections */
    justify-content: center;
    flex-wrap: wrap;
}

.person_item 
{
    text-align: center;                /* alignment of each name */
    max-width: 200px; 
}

.person_item img 
{
    width: 100%;                        /* format of each img */
    height: 200px; 
    object-fit: cover; 
    border-radius: 0; 
}

.person_name 
{
    font-weight: bold;                        
    margin-top: 10px;
}
.Title 
{
    text-align: center;
    font-size: 12px;
}
.para 
{
    text-align: center;
    margin: 20px 0; 
    line-height: 1.6; 
    padding-left: 100px;
    padding-right: 100px;
}
.containerAboutUs
{
    padding: 20px;
}