
body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header 
{
    background: linear-gradient(90deg, rgba(3, 121, 185, 0.8), rgba(0, 180, 216, 0.8)); 
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 a 
{
    color: white;
    text-decoration: none;
}


.main-nav 
{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: rgba(202, 240, 248, 0.8); /* Slightly transparent */
}

.main-nav a 
{
    text-decoration: none;
    color: #0077b6;
    font-weight: bold;
    padding: 14px 16px;
    border-radius: 4px;
}

.main-nav a:hover 
{
    background-color: #0077b6;
    color: white;
}


.container {
    display: flex;
}


.sidebar 
{
    width: 200px;
    background-color: rgba(144, 224, 239, 0.9); /* Slightly transparent */
    padding-top: 20px;
    height: 100vh; 
    position: sticky;
    top: 0;
}


.content 
{
    flex: 1;
    padding: 40px;
    
    background-image: url('medicalBackground.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


footer 
{
    text-align: center;
    padding: 20px;
    background-color: #0077b6;
    color: white;
}


.login 
{
    margin-left: auto;
    text-decoration: none;
    color: darkolivegreen;
    padding: 14px 16px;
    font-weight: bold;
    border-radius: 4px;
}

.login:hover 
{
    background-color: aquamarine;
    color: black;
}





.profile-link 
{
    display: flex;
    flex-direction: column; /* Stack the image and text vertically */
    align-items: center; /* Center-align the image and text */
    text-decoration: none;
    color: #0077b6;
    padding: 10px; 
}

.profile-image 
{
    height: 40px;
    width: 40px;
    border-radius: 50%; 
    transition: transform 0.3s ease;
    margin-bottom: 5px;  
}
.profile-link:hover .profile-image 
{
    transform: scale(1.1); 
}
.profile-link:hover {
    color: #0077b6; 
}

.features-nav a 
{
    display: flex;
    align-items: center; 
    padding: 15px;
    color: #0077b6;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.features-nav a:hover 
{
    background-color: #0077b6; 
    color: white; 
}
